 .btn {
  margin-left: auto;
   --btn-bg-hover:none;
}
.seeker
{
  @apply flex items-center ;
}

.label-header-menu
{
  --label-color:#ffffff;
}

.buttons {
  --stroke-width: 0.5px;
  --stroke-icon: #000;
  }