 <div class="contenedor">
  <div class="general">
        <app-labelwithdropdown class="dropdown"
        [label]="'Seleccione un tipo de elemento'"
        [id]="'tipoElemento'"
        [options]="questionOptions"
        [selectedValue]="selectedType"
        (valueChange)="onSelectionChange($event)">
      </app-labelwithdropdown>

      <app-labelwithinput
        class="Pregunta"
        [label]="'Ingrese el titulo '"
        [placeholder]="'Escriba aquí su pregunta...'"
        [value]="questionText"
        (valueChange)="onQuestionChange($event)">
      </app-labelwithinput>
  </div> 
  
  <div class="opciones">
    <ng-container #dynamicComponentContainer></ng-container>
  </div>

 </div>






