 <div class="opciones-container">
    <div class="opciones-columna"  *ngFor="let group of groupedOption; let colIndex = index; trackBy: trackByIndex">
      <div  class="opcion-radiobutton" *ngFor="let opcion of group; let i = index; trackBy: trackByIndex">
          <!-- <app-radio-button
            [name]="nameGroup"
            [value]="opcion"
            [checked]="selected === opcion"
            (selectionChange)="selectOption($event)">
          </app-radio-button>

          <app-input
            [value]="opcion"
            [placeholder]="'Digite la respuesta...'"
            (valueChange)="updateOption(colIndex * 5 + i, $event)">
          </app-input> -->
      
  </div>