.contenidoGeneral
{
  @apply w-full ;

}
.header-modal{
  --header-bg:#CCD8E7;
}

.titleI
{
  @apply w-full flex content-center items-center pt-2;
  gap:3px;
}
.label-header
{
  --label-color:#15428B;
  --label-font-size:1rem;
  --fontType:bold;
}
.icon-header
{
  --icon-font-size: 1.3rem;
  --stroke-width: 0.5px;
  --stroke-icon:#15428B;

}

 .actions{
  @apply w-full;
  --btn-group-wrap: nowrap;
  --btn-group-gap: 3rem;
}

 .btn {
  --btn-border-radius: 10px;
  text-align: center;
  --btn-color-text: #ffffff;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  border: none;
 --btn-heigth:2rem;
 --btn-width:10rem;
 }
