<app-card>
    <div mat-card-header>
        <div mat-card-avatar>
            <app-avatar [imageUrl]="image" [size]="100" [rounded]="true"></app-avatar>
        </div>    
    </div>

    <div card-content>
        
        <!-- Átomo de Dropdown para seleccionar un programa -->
        <app-dropdown 
        *ngIf="programOptions.length > 0"
        [options]="programOptions" 
        [(ngModel)]="selectedProgram">
        </app-dropdown>

        <app-label 
        *ngFor="let field of infoFields"
        [content]="field.label + ': ' + field.value">
        </app-label> 
       
    </div> 
</app-card>
