<app-card class="general">
    <div card-banner>
      <app-label content="Información del estudiante"></app-label>
    </div>
    <div card-avatar>
      <app-avatar [imageUrl]="image" [size]="150" [rounded]="true" />
    </div>

    <div card-content>
      <app-dropdown class="w-full" *ngIf="programOptions.length > 0" [options]="programOptions"
        [(ngModel)]="selectedProgram">
      </app-dropdown>

      <app-label *ngFor="let field of infoFields" [content]="field.label + ': ' + field.value">
      </app-label>
    </div>

</app-card>