/* Define estilos para el contenedor del panel de información */
:host {
    display: block;
    padding:var(--panel-padding);
    border-radius: var( --panel-border-radius);
    --card-bg-color:rgb(88, 22, 203);
    --card-border-radius:0px;
  }
  
  /* Personaliza el contenido del card */
  app-card div[card-content] {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Se expande en todo el ancho */
    width: 100%; /* Ocupar toda la tarjeta */
    background-color: rgb(90, 203, 22);
    border: 2px dashed #ff0000;
    padding: 0px; /* Reducir el espacio interno */
    margin-top: -5px; /* Subir el contenido */


  }

  /* Opcional: estilos para el avatar si necesitas ajustar su posición */
  app-card div[mat-card-avatar] {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border:2px dashed rgb(64, 255, 0); 
    background-color: rgb(88, 22, 203);
    padding: 8px; /* Reducir el espacio interno */
    margin-top: -40px; /* Subir el contenido */
  }
  
  /* Estilos para que los labels dentro del panel usen la variable --label-color */
  app-label {
    --label-color: var(--label-color);
  }

  /* Media query para hacerlo responsive */
  @media (max-width: 600px) {
    app-card {
      max-width: 95%;
      padding: 8px;
    }
  }
  