<app-model [isVisible]="isVisible" 
           [title]="title" 
           [showCloseButton]="showCloseButton" 
           (close)="closeModal()">
    <div modal-header class="header-bq">
        <app-header class="header-modal"
                    [title]="title"
                    icon="web_asset"
                    [buttons]="[
                      { icon: 'remove', classList: 'btn-success main-header__button', typeButton: 'button', disabled: false, iconColor:'#264390' },
                      { icon: 'crop_square', classList: 'btn-success main-header__button', typeButton: 'button', disabled: false, iconColor:'#264390' },
                      { icon: 'close', classList: 'btn-success main-header__button', typeButton: 'button', disabled: false, iconColor:'#264390' }
                    ]">
        </app-header>
    </div>
    
    <hr>
    <div class="inline-group">
      <app-labelwithcombobox
      [label]="'Elija el tipo de pregunta'"
      [options]="questionOptions"
      [displayField]="'tpeF_NOMBRE'"
      (selectionChange)="onSelectionChange($event)">>
      </app-labelwithcombobox>

      <app-labelwithinput
        class="Pregunta"
        [label]="'Ingrese el titulo '"
        [placeholder]="'Escriba aquí su pregunta...'"
        [value]="questionText"
        (valueChange)="onQuestionChange($event)">
      </app-labelwithinput>
    </div>

    <hr>
    <div *ngIf="showOptionsField" class="inline-group">
      <app-labelwithinput
      class="Opciones"
      [label]="'Digite las opciones'"
      [placeholder]="'Escriba aquí la descripción.'"
      [value]="updatedQuestion.description"
      (valueChange)="onOptionsChange($event)">
    </app-labelwithinput>
    <!-- Se llama al método addOption() al hacer clic -->
    <app-buttonwithicon icon="➕" style="color: rgb(56, 105, 212);" classList="btn-success" (click)="addOption()"></app-buttonwithicon>
  </div>
 

    <hr>

    <div modal-action>
      <app-button class="btn-guardar" text="Guardar" classList="btn btn-primary" typeButton="button" (click)="saveChanges()"></app-button>
    </div>
</app-model>
