/* button-group.component.scss */
.buttonIcon-group {
    @apply flex p-0.5 w-auto;
    flex-direction: var(--flexD);
    align-items: var(--alingI);
    gap:var(--gap,8px) ;
    flex-wrap: var(--flexW,wrap);
    border-radius: var(--border-radius,10px);
    background-color:var(--bg-color) ;
   border:var(--border);
   box-shadow:var(--boxShadow) ;
  }
  