/* button-group.component.css */
.buttonIcon-group {
    display:var(--display,flex) ;
    flex-direction: var(--flexD);
    align-items: var(--alingI);
    gap:var(--gap,8px) ;
    flex-wrap: var(--flexW,wrap);
    border-radius: var(--border-radius,10px);
    background-color:var(--bg-color) ;
   border:var(--border);
   box-shadow:var(--boxShadow) ;
   padding-top: var(--paddingTop,5px) ;
  }
  