:host {
  display: block;
  background-color: var(--header-bg, #32428B); /* Fondo del header */
  padding: var(--header-padding, 0.3rem 1rem);   /* Espaciado interno del header */
  color: var(--header-color, #fff);              /* Color base del texto */
}

/* Sección de título: icono y label */
.title {
  display: flex;
  align-items: center;
  gap: var(--header-title-gap, 0.5rem);

}
.icon-title{
  font-size: var(--fs-icon-title);
  color:var(--color-icon-title);
  transform: var(--icon-title-transform) ; /* Aumenta el tamaño del icono */
}

/* Sección de controles: contiene botones u otros componentes */
.controls {
  display: flex;
  align-items: center;
  gap: var(--header-controls-gap, 0.5rem);
  margin-top: var(--header-controls-margin-top, 0);
}


/* Opcional: Estilos responsivos */
@media (max-width: 768px) {
  :host {
    padding: var(--header-padding-mobile, 0.5rem);
  }
  .title {
    font-size: var(--header-title-font-size-mobile, 1.2rem);
  }
  .controls {
    flex-wrap: wrap;
  }
}
