:host {
  display: flex;  /* Para alinear elementos dentro */
  justify-content: space-between; /* Asegura que el contenido se distribuya */
  align-items: center;
  width:100%; /* Ocupar todo el ancho disponible */
  background-color: var(--header-bg);
  padding: var(--header-padding, 0.3rem 1rem);
  color: var(--header-color);          /* Color base del texto */
}

.layout_header {
  width:var(--header-width,100%);
  height: var(--header-height,100%);

}

.layout_header-content {
  width:var(--header-content-width,100%);
  height: var(--header-content-height,100%);
  display: flex;
  align-items: center;
  flex-wrap:var(--header-content-wrap,wrap) ;
  gap:var(--header-content-gap,1rem); /* espacio entre elementos */
  position:var(--header-position);
}

/* Opcional: Estilos responsivos */
@media (max-width: 768px) {
  :host {
    padding: var(--header-padding-mobile, 0.5rem);
  }

}
