.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CCD8E7; /* Azul claro */
    padding: 0px;
    border-bottom: 1px solid #b0c4de;
    height: 28px; /* Un poco más pequeño */
    width: 100%;
    position: absolute; /* Lo mueve a la parte superior */
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

/* Estilo para la sección de título */
.title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    color: #003366;
    margin-left: 10px; /* Ajuste para que no esté tan pegado */
}

/* Estilo para los botones de control */
.controls {
    display: flex;
    gap: 15px; /* Separa más los botones */
    align-items: center;
    margin-right: 6px; /* Para separarlo del borde derecho */
}

/* Estilo para los botones */
.controls app-buttonwithicon {
    width: 3px; /* Más pequeño */
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px; /* Ajustado para que no se vean tan grandes */
}

/* Efecto hover */
.controls app-buttonwithicon:hover {
    background-color: #E1F3FF;
}
.controls app-icon{
    width: 14px;  /* Ajusta el tamaño del ícono */
    height: 14px;
    fill:#15428B; /* Cambia el color del ícono */
}