<div class="Contenedor">
    <div class="Enunciado">
         <app-labelwithinput class="LabelWithInput" label="Ingresa el enunciado:"
            placeholder="Escribe aqui el enunciado..." [value]='title' (valueChange)="onTitleChange($event)">
        </app-labelwithinput>
        <app-labelwithinput class="LabelWithInput" label="Ingresa el enunciado:"
            placeholder="Escribe aqui el enunciado..." [value]='enunciado' (valueChange)="onQuestionChange($event)">
        </app-labelwithinput>
    </div>
    
    
</div>

