.contenidoGeneral {
  @apply w-full flex flex-row flex-wrap p-0.5;
  margin-top: -30px;
}

.contenidoI {
  @apply p-6;
  width: 90%;
}

.contenidoD {
  width: 4%;
}

.btn {
  --flexD:column;
  --border: none;
  --alingI:center;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --btn-width: 30px;
  --btn-height: 40px;
  --btn-bg-hover: #f3f3f3;
  --btn-bg-hoverA: #f3f3f3;
  --stroke-width: 0.5px;
  --stroke-icon: #000000;
  --bg-color: #ffffff;
  --border-radius: 4px;
  --boxShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
