/* Define estilos para el contenedor del panel de información */
:host {
  display: block;
  padding: var(--panel-padding);
  border-radius: var(--panel-border-radius);
  width: 100%; /* Ocupar toda la tarjeta */

}

/* Contenedor principal para alinear header y contenido */
app-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  --card-bg-color:rgb(228, 249, 16);
  --card-border-radius:0px;
}

/* Personaliza el contenido del card */
app-card [card-actions] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1; /* Permite ajuste dinámico */
  border: 2px dashed #ff0000;
  padding: 10px;
}


/* Media query para hacerlo responsive */
@media (max-width: 600px) {
  app-card {
      max-width: 95%;
      padding: 8px;
  }
}
