/* Define estilos para el contenedor del panel de información */
:host {
  display: block;
  padding: var(--panel-padding);
  border-radius: var(--panel-border-radius);
  width: 100%; /* Ocupar toda la tarjeta */
}

/* Contenedor principal para alinear header y contenido */
 .actions{
  width: 100%;
  --card-border-radius:0px;
  --btn-group-justify:center;
  --btn-group-display: flex;
  --btn-group-direction: column; 
  --btn-group-justify: center;
  --btn-group-align: center;
  --btn-group-gap: 1rem;
}

.btn {
  display: block;
  max-width: 250px; /* Ajusta el valor según necesites */
  --btn-bg-color:#428bca70;
  --btn-border-radius: 10px;
  text-align: center;
  --btn-color-text: #ffffff;
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  border: none;
 --btn-heigth:2rem;
 --btn-width:18rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}



/* Media query para hacerlo responsive */
@media (max-width: 600px) {

}





