.label-arial {
  /* Tamaño de fuente con variable para poder personalizarlo */
  font-size: var(--label-font-size, 1rem);
  color: var(--label-color, black);
  font-family: var(--label-font-family, sans-serif);
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0.5rem;
}
