::ng-deep .custom-dropdown {
    width: 100%;

  
    mat-form-field {
      display: block;
      width: 100%;
      border-radius: var(--dropdown-radius, 8px);
  
      .mat-mdc-text-field-wrapper {
        background-color: var(--dropdown-bg, #20bd23);
        padding: var(--dropdown-padding, 10px);
        border-radius: var(--dropdown-radius, 8px);
      }
  
      .mat-mdc-form-field-flex {
        color: var(--dropdown-color-form, #d72525);
      }
  
      .mat-mdc-form-field-infix {
        min-height: 40px;
      }
    }
  
    mat-select {
      font-size: var(--dropdown-font-size, 16px);
      color: var(--dropdown-color, #ffffff);
    }
  
    mat-option {
      font-size: var(--dropdown-font-size, 16px);
      color: var(--dropdown-color, #ffffff);
      padding: var(--dropdown-option-padding, 8px 12px);
  
      &:hover {
        background-color: var(--dropdown-option-bg, #0f0f0f);
      }
    }
  
    .mat-mdc-select-arrow {
      color: var(--dropdown-arrow-color, #333);
    }
  }
  