.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #428BCA;
    padding: 10px;
    width: 100%;
    color: white;
  }
  
  .content-header app-seeker {
    order: -1;
  }
  
  .main-header__button {
    margin-left: auto;
  }
  
  /* Estilos para la tabla y modales se pueden reutilizar o ajustarse según corresponda */
  