<div class="layout">
      <app-header class="main-header"> 
      <div header-title  class="titleI" >
        <app-icon name="web_asset" class="icon-header-main"></app-icon>
        <app-label content="Gestión de Emprendimientos" class="label-header-main"></app-label>
      </div>
      <div header-buttons class="ml-auto">
        <app-buttonwithicongroup
        [buttons]="mainHeaderButtons"
        (btnClick)="handleAction($event)">
         </app-buttonwithicongroup>
       </div>

      </app-header>
      <app-header class="secondary-header">
        <div header-buttons>
          <app-buttonwithicongroup class="button-header-secondary"
            [buttons]="secondaryHeaderButtons"
            (btnClick)="handleAction($event)">
          </app-buttonwithicongroup>
        </div>
        </app-header>
  
    <!-- Cuerpo del layout -->
    <div class="layout__body" [class.collapsed]="isCollapsed">
      <aside class="layout__panel" [class.collapsed]="isCollapsed">
        <app-header class="panel-header">
          <div header-title  class="title" >
            <app-icon name="fa-solid fa-user" class="icon-header-panelinfo" typeIcon="fontawesome"></app-icon>
            <app-label content="Panel De Información" class="label-header-panelinfo"></app-label>
          </div>
          <div header-buttons class="controls">
            <app-buttonwithicon class="btnheaderpanelinfo"
            [buttonConfig]="buttonPanelInfoHeader"
            (btnClick)="handleAction($event)">
    
            </app-buttonwithicon>
          </div>
        </app-header>
        
        <app-panelinfo
        class="panel-info" >
        </app-panelinfo>  

        <app-header [hidden]="isCollapsed" class="header-info">
            <div header-title  class="header-menu-title" >
              <app-icon name="fa-regular fa-bars" class="icon-header-menu" typeIcon="fontawesome" ></app-icon>
              <app-label content="Menú Opciones" class="label-header-menu"></app-label>
            </div>
         </app-header>
         <app-menuoptions 
         [userRoles]="['coordinador']"
         (btnClick)="onMenuButtonClick($event)">

       </app-menuoptions>
      </aside>
      <main class="layout__content">
        <router-outlet></router-outlet> 
      
    
      </main>
    </div>
  </div>
  