.seeker-container {
  @apply flex w-full items-center justify-center p-0.5;
  background-color: var(--bg-container-seeker,#ffffff);
  border-radius:9px 9px 9px 9px;
  border:2px solid #ccc;
}

.form-control {
  @apply  w-full items-center content-center;
  flex: 1;
  font-size: 14px;
  --input-border:none;
  --input-shadow:none;
  --input-border-radius:none;

}

.search-btn {
  @apply flex items-center content-center pt-2;
  cursor: pointer;
  --btn-withicon-padding:0px;
  --btn-bg-color:white;
  --btn-withicon-border-radius:0px 8px 8px 0px;
   --btn-bg-hover: inherit;
  --btn-bg-hover: none;
  --btn-bg-hoverA:none;
  --btn-hover-transform: none;
  --btn-active-transform: none;
  --btn-hover-filter: none;
}


 