.contenedor {
  padding: var(--contenedor-padding, 0.5rem); 
  display: flex;
  flex-direction: column;
  gap: var(--contenedor-gap, 0.5rem); 
  width: 100%;
  box-sizing: border-box;
}

.general {
  display: flex;
  flex-direction: row; 
  gap: var(--general-gap,20px); 
  flex-wrap: wrap; 
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.dropdown,
.Pregunta {
  flex: 1; 
  min-width: var(--general-min-width, 250px); 
  
}


.opciones {
  display: flex;
  flex-direction: column; 
  gap: var(--opciones-gap, 0.3rem); 
  width: 100%;
  box-sizing:var(--box-sizing, border-box);
}
