button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding:0; 
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #f0f0f0;
  }
  