.contenedorWrapper {
  @apply w-full;
  background-color: var(--bg);
  padding: var(--padding,2rem);
  border: var(--border, 1px solid #fcf5f5);
  border-radius: var(--borderR, 8px);
  box-shadow: var(--boxShadow, 0px 4px 6px rgba(0, 0, 0, 0.1));
  margin-bottom: var(--marginB);
  overflow: hidden;
  cursor: pointer;
}

.contenido {
  background-color: var(--bg, #ffffff);
}
.button {
  display: var(--display, flex);
  justify-content: var(--justify-content, flex-end);
  margin-top: var(--margin-top, 0rem);

}
