<div class="w-full">
    <app-header>
        <div header-search class="dropdwon">
             <app-dropdown 
            [options]="typeForm" [selectedValue]="selectedType"
            (valueChange)="onSelectionChange($event)">
            </app-dropdown> 
        </div>
        <div header-buttons class="ml-auto">
            <app-buttonwithicon class="btnV" 
            [buttonConfig]="buttonvisualize" 
            (btnClick)="onVisualize()">
            </app-buttonwithicon>

            <app-button class="btnG" [buttonConfig]="buttonSave" (btnClick)="save()">
                {{ buttonSave.title }}
            </app-button>
        </div>

    </app-header>

    <div class="w-full">
        <app-form class="form"
            [title]="form.titulo" 
            [description]="form.descripcion">
        </app-form>
    </div>
    <div class="w-full">
        <app-formbuilder 
        [typeForm]='selectedType'
        [questions]="selectedQuestions"
        (btnClick)="handleFormAction($event)">
        </app-formbuilder>

        <ng-container #modalContainer></ng-container>
    </div>


</div>