.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: green;
    color: white;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
  }
  
  .btn-secondary {
    background-color: gray;
    color: white;
  }
  