/* Estilos base del botón */
:host button {
  padding: var(--btn-padding);
  border: var(--btn-border,none);
  cursor: var(--btn-cursor,pointer);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  transition: var(--btn-transition);
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  height: var(--btn-heigth);
  width: var(--btn-width);
}
