.avatar {
    display: var(--avatar-display,flex);
    align-items: var(--avatar-alingi,center);
    justify-content:var(--avatar-jc,center) ;
    overflow: var(--avatar-overflow,hidden) ;
    background-color:var(--avatar-bg, rgb(250, 245, 245));
  }
  
  .avatar img {
    width: var(--avatar-width,100%);
    height: var(--avatar-height,100%);
    object-fit: var(--avatar-object,cover);
  }
  
  .avatar-icon {
    font-size:var(--avatar-icon-size,100%) ;
    color:var(--avatar-icon-color, gray);
  }
  