.General
{
  @apply w-full overflow-x-auto p-4;
}
/* Contenedor responsivo */
.table-container {
  @apply w-full text-sm text-gray-800 py-4 table-fixed;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(10, 9, 9, 0.089);
}


/* Encabezados */
.th {
  @apply font-semibold px-4 py-2 text-left sticky top-0;
  background-color: #ffffff;
  font-weight: 700;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #000000;
}
/* Celdas */
.td {
  @apply px-4 py-2 border-b;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
  color: #212529;
  background-color: #FFFFFF;
}

/* Paginador */
.paginator {
  @apply mt-4;
  color:#212529;
  background-color:#fff;
}


