<div class="table-container mat-elevation-z8">
  <!-- Añadimos la clase custom-table al table -->
  <table mat-table [dataSource]="data"
         matSort
         (matSortChange)="sortChange.emit($event)"
         class="custom-table">

    <!-- Columnas dinámicas -->
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key.toString()">
      <th mat-header-cell *matHeaderCellDef [style.width]="col.width">
        <app-label [content]="col.label"></app-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <app-label
          [content]="col.formatter ? col.formatter(row[col.key]) : row[col.key]">
        </app-label>
      </td>
    </ng-container>

    <!-- Acciones por fila -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <!-- Asegúrate de usar action-buttons para el contenedor -->
        <app-buttonwithicongroup
          class="action-buttons"
          [buttons]="buttontable"
          (btnClick)="onAction(row, $event)">
        </app-buttonwithicongroup>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedKeys"></tr>
    <tr mat-row        *matRowDef="let row; columns: displayedKeys"></tr>
  </table>

  <mat-paginator class="paginator"
    [length]="total"
    [pageSize]="pageSize"
    (page)="pageChange.emit($event)">
  </mat-paginator>
</div>
