/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@tailwind base;
@tailwind components;
@tailwind utilities;


.btnEdit {
  --btn-bg-hover: #f3f181;
  --btn-bg-hoverA: #f3f181;
}

.btnDelete {
  --btn-bg-hover: #ea7575;
  --btn-bg-hoverA: #ea7575;
}

.btn-cancel
{
  --btn-bg-color:#e97b7d;
  --btn-bg-hover:#E43C3F;
  --btn-bg-hoverA:#E43C3F;
}

.btn-save
{
  --btn-bg-color:#428bca70;
  --btn-bg-hover:#428bca;
  --btn-bg-hoverA:#428bca;
}

//Button Close
.btnc
{
  --icon-font-size: 1rem;
  --btn-withicon-border-radius: 3px;
  --btn-bg-color: #E1F3FF;
  --btn-icon-color: #15428B;
  --btn-withicon-padding: 0px;
  --btn-withicon-transition: all 0.3s ease-in-out;
  --btn-border: 0.1px solid #71A0DD;
  --btn-bg-hover:#c9e9ff;
  --stroke-width: 0px;
}

//Button x

.btn-x{
  --btn-withicon-border-radius: 3px;
  --btn-bg-hover:#e7cccc85;
  --btn-bg-hoverA:#ebb3b3c7;
}

 .btnadd
  {
     margin-left: auto;
    --btn-width:35px;
    --btn-height:35px;
    --btn-withicon-border-radius: 5px;
    --stroke-width: 1px;
    --stroke-icon:#0e0e0e;
     --btn-bg-hover:#68a6f8a4;
      --btn-bg-hoverA:#609ae7d7;
  }