<div class="Contenedor">
  <div class="AddOption">
    <app-label content="Opciones Respuesta multiple:"></app-label>
    <app-buttonwithicon
      class="btnadd"
      [buttonConfig]="btnadd"
      (btnClick)="addOption()">
    </app-buttonwithicon>
  </div>

  <div class="opciones-container">
    <div class="opciones-columna" *ngFor="let group of groupedOptions; let colIndex = index; trackBy: trackByIndex">
    <div class="opcion-checkbox" *ngFor="let option of group; let i = index; trackBy: trackByIndex">
      <app-check-box
        [label]="''"
        [checked]="selectedIndices.includes(colIndex * 5 + i)"
        (toggleChange)="toggleSelection(colIndex * 5 + i, $event)">
      </app-check-box>

      <app-input
        [value]="option"
        [placeholder]="'Digite la respuesta...'"
        (valueChange)="updateOption(colIndex * 5 + i, $event)">
      </app-input>

      <app-buttonwithicon 
        class="btn-delete"
        [buttonConfig]="btndelete"
        (btnClick)="removeOption(colIndex * 5 + i)">
      </app-buttonwithicon>
    </div>
  </div>
</div>
    
</div>
