:host input {
  @apply w-full py-0.5 outline-none;
  font-size: var(--input-font-size, 14px);
  border: var(--input-border, 2px solid #ccc);
  border-radius: var(--input-border-radius, 8px);
  transition: all 0.3s ease-in-out;
  background-color: var(--input-bg, white);
  color: var(--input-text-color, #333);
  box-shadow: var(--input-shadow, 0 2px 5px rgba(0, 0, 0, 0.1));
  color:var(--color,#000000);
  cursor: pointer;
}
